.vs
.vscode
*.user
/BrettViewer/packages
/BrettViewer/KICOCADWebAPIService/bin
/BrettViewer/KICOCADWebAPIService/obj
/BrettViewer/KICUtils/obj
/BrettViewer/KICUtils/bin
/BrettViewer/Library
/BrettViewer/Logs
/BrettViewer/Temp
/BrettViewer/obj
/BrettViewer/TestResults

/BrettViewer.GameDriverTests/bin
/BrettViewer.GameDriverTests/obj
/BrettViewer.GameDriverTests/packages
/BrettViewer.GameDriverTests/GDIOResults

/DRRTestt/packages
/DRRTestt/KICOCADWebAPIService/bin
/DRRTestt/KICOCADWebAPIService/obj
/DRRTestt/KICUtils/obj
/DRRTestt/KICUtils/bin
/DRRTestt/Library
/DRRTestt/Logs
/DRRTestt/Temp
/DRRTestt/obj
/DRRTestt/TestResults
/DRRTestt
/DRRTestt.GameDriverTests/bin
/DRRTestt.GameDriverTests/obj
/DRRTestt.GameDriverTests/packages
/DRRTestt.GameDriverTests/GDIOResults

/DRR_Second/packages
/DRR_Second/KICOCADWebAPIService/bin
/DRR_Second/KICOCADWebAPIService/obj
/DRR_Second/KICUtils/obj
/DRR_Second/KICUtils/bin
/DRR_Second/Library
/DRR_Second/Logs
/DRR_Second/Temp
/DRR_Second/obj
/DRR_Second/TestResults
/DRR_Second.GameDriverTests/bin
/DRR_Second.GameDriverTests/obj
/DRR_Second.GameDriverTests/packages
/DRR_Second.GameDriverTests/GDIOResults