.vs
.vscode
*.user
/BrettViewer/packages
/BrettViewer/KICOCADWebAPIService/bin
/BrettViewer/KICOCADWebAPIService/obj
/BrettViewer/KICUtils/obj
/BrettViewer/KICUtils/bin
/BrettViewer/Library
/BrettViewer/Logs
/BrettViewer/Temp
/BrettViewer/obj
/BrettViewer/TestResults

/BrettViewer.GameDriverTests/bin
/BrettViewer.GameDriverTests/obj
/BrettViewer.GameDriverTests/packages
/BrettViewer.GameDriverTests/GDIOResults