.vs
.vscode
*.user
/KICServer/packages
/KICServer/KICOCADWebAPIService/bin
/KICServer/KICOCADWebAPIService/obj
/KICServer/KICUtils/obj
/KICServer/KICUtils/bin
/KicoCADClient/Library
/KicoCADClient/Logs
/KicoCADClient/Temp
/KicoCADClient/obj
/KicoCADClient/TestResults

/KicoCADClient.GameDriverTests/bin
/KicoCADClient.GameDriverTests/obj
/KicoCADClient.GameDriverTests/packages
/KicoCADClient.GameDriverTests/GDIOResults